.chart-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.c3-defocused {
  opacity: 0.5;
}

.c3-tooltip-container {
  background: lightgray;
  padding: 4px;
  border-radius: 2px;
}

.chart {
  height: 100%;
  width: 100%;
  max-width: 20%;
}

.c3-legend-item {
  padding: 10px;
}

.custom-legend-item {
  display: flex;
  align-items: center;
}

.custom-legend-tile {
  margin-right: 10px;
  height: 15px;
  width: 15px;
}
